/*--- Extra large devices (large desktops, 1400px and up) -----*/

.Notification-inner {
  display: none;
}

.search-response {
  display: none;
}

@media (min-width: 1600px) {
  .container-cum {
    max-width: 1560px;
    margin: auto;
  }

  .header-container {
    max-width: 1825px;
    padding-left: 30px;
    padding-right: 30px;
    margin-left: auto;
    margin-right: auto;
  }
  .categories-inner {
    padding-left: 20px;
    padding-right: 20px;
  }
  .sm-mob-navbar {
    display: none !important;
  }

  .Selected-respons {
    display: none;
  }
}

@media screen and (min-width: 1400px) and (max-width: 1599px) {
  .container-cum {
    max-width: 1360px;
    margin: auto;
  }

  .header-container {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .categories-inner {
    padding-left: 15px;
    padding-right: 15px;
  }

  .sm-mob-navbar {
    display: none !important;
  }

  .banner-hero-content .right-content img {
    height: 295px;
  }

  .Categories-card-inner .title h5 {
    text-align: center;
    font-size: 22px;
  }

  .collection-right-box .collection-box img {
    height: 233px;
  }

  .product_card .title {
    font-size: 22px;
  }

  .short-disription {
    font-size: 20px;
    font-weight: 500;
    margin-bottom: 5px;
  }
  .current-price {
    color: #9600c1;
    font-weight: 600;
    font-size: 25px;
  }

  .old-price p {
    color: rgba(0, 0, 0, 0.3);
    text-decoration: line-through;
    font-size: 22px;
    font-weight: 500;
  }
  .shop_title h4 {
    color: #fff;
    font-size: 40px;
  }
  .banner-by-title h4 {
    color: #fff;
    font-size: 40px;
    text-align: center;
  }

  .navigation-menu {
    padding-left: 13rem;
  }

  .rattings li img {
    width: 25px;
  }
  .navigation-menu ul li a {
    font-size: 45px;
  }

  .categories-list ul li a {
    font-size: 18px;
  }

  .Selected-respons {
    display: none;
  }
}

@media screen and (min-width: 1200px) and (max-width: 1399px) {
  .container-cum {
    max-width: 1180px;
    margin: auto;
  }

  .header-container {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }

  .categories-inner {
    padding-left: 15px;
    padding-right: 15px;
  }
  .sm-mob-navbar {
    display: none !important;
  }

  .categories-list ul li a {
    font-size: 17px;
  }

  .Categories-card-inner .image-box {
    width: 145px;
    height: 145px;
    margin: auto;
  }
  .Categories-card-inner .title h5 {
    font-size: 20px;
    text-align: center;
  }
  .collection-right-box {
    margin-bottom: 19px;
    display: block;
  }
  .collection-inner {
    padding-bottom: 40px;
  }
  .collection-right-box .collection-box img {
    height: 200px;
    min-height: 205px;
  }
  .collection-title h4 {
    font-size: 34px;
  }

  .shop_brand_title {
    left: 10%;
  }
  .shop_box-content img {
    width: 100%;
  }

  .shop_title h4 {
    font-size: 38px;
  }

  .footer_container {
    padding-left: 30px;
    padding-right: 20px;
  }
  .navigation-menu {
    padding: 1rem;
  }
  .banner-by-title h4 {
    font-size: 42px;
  }

  .banner-hero-content .right-content img {
    height: 256px;
  }

  .product-discription .title {
    font-size: 22px;
  }

  .short-disription {
    font-size: 18px;
  }

  .rattings li img {
    width: 24px;
  }

  .current-price {
    font-size: 28px;
  }

  .trams p {
    font-size: 18px;
  }

  .navigation-menu ul li a {
    font-size: 43px;
  }

  .usefulllinks ul li a {
    font-size: 20px;
  }

  .contact-information .information a {
    font-size: 20px;
  }

  .contact-information .information h3 {
    font-size: 20px;
  }

  .Selected-respons {
    display: none;
  }
}

@media screen and (min-width: 992px) and (max-width: 1199px) {
  .container-cum {
    max-width: 980px;
    margin: auto;
  }
  .header-container {
    max-width: 100%;
    padding-left: 15px;
    padding-right: 15px;
  }
  .categories-inner {
    padding-left: 15px;
    padding-right: 15px;
  }
  .sm-mob-navbar {
    display: none !important;
  }

  .hero_area > .container-cum {
    max-width: 100%;
  }

  .owl-carousel .owl-item img {
    height: 500px;
    object-fit: cover;
    width: 100%;
  }

  .owl-stage-outer {
    padding: 0 !important;
  }

  .banner-hero-content .right-content img {
    height: 210px;
  }

  /* === header Catagory   ==== */

  .categories-content .Categories-main-title {
    font-size: 16px;
  }
  .categories-list ul li a {
    font-size: 15px;
  }

  .title-top h2 {
    font-size: 38px;
  }

  .Categories-card-inner .image-box {
    width: 145px;
    height: 145px;
    margin: auto;
  }
  .Categories-card-inner .title h5 {
    font-size: 17px;
    text-align: center;
  }
  /* ===== Collection ===== */
  .collection-inner {
    padding-bottom: 40px;
  }
  .collection-right-box .collection-box img {
    height: 162px;
  }
  .collection-title h4 {
    font-size: 34px;
  }

  .out_collection-title h4 {
    font-size: 38px;
  }

  .collection-inner .row {
    --bs-gutter-x: 20px;
  }

  /* ===== Shop By  */

  .shop_box-content img {
    width: 100%;
  }

  .shop_title h4 {
    font-size: 38px;
  }

  /* ===== product */
  .product_card .short-disription {
    font-size: 18px;
  }
  .current-price p {
    font-size: 24px;
  }
  .product-discription .title {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 5px;
  }

  .rattings li img {
    width: 25px;
  }

  /* == Banner ===  */

  .banner-by-title h4 {
    font-size: 30px;
  }
  /* Footer */

  .footer_container {
    padding-left: 30px;
    padding-right: 20px;
  }
  .navigation-menu {
    padding: 2rem;
  }
  .navigation-menu ul li a {
    font-size: 38px;
    font-weight: 400;
    color: var(--text-color);
    padding: 5px 0;
    display: inline-block;
  }
  .usefulllinks ul li a {
    color: var(--text-color);
    font-weight: 400;
    font-size: 18px;
  }

  .offcanvas-body .search-input {
    width: 100%;
  }

  .offcanvas-body .categories-list li {
    margin-bottom: 15px;
  }

  .offcanvas-body .categories-content {
    padding-left: 1.5rem;
    margin-top: 1rem;
  }

  .Selected-respons {
    display: none;
  }
  .search-response {
    display: none;
  }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
  .container-cum {
    max-width: 740px;
    margin: auto;
    padding-left: 8px;
    padding-right: 8px;
  }

  .hero_area {
    margin-top: 0 !important;
  }

  .hero_area > .container-cum {
    max-width: 100%;
    padding: 10px;
  }

  .banner-hero-content img {
    border-radius: 10px;
  }

  .banner-hero-content img {
    height: 380px;
    object-fit: fill;
  }

  .owl-carousel .owl-item img {
    height: 500px;
    object-fit: cover;
    width: 100%;
  }

  .owl-stage-outer {
    padding: 0 !important;
  }

  .offcanvas-button {
    display: block;
  }
  .sm-mob-navbar {
    display: none !important;
  }
  /* ======= response  header    */
  .Selected-respons {
    display: block;
    padding-left: 1rem;
  }
  .Notification-inner {
    display: block;
  }

  .Notification-inner {
    padding-right: 1rem;
  }

  /* ==== response  Header   ===== */

  /* ==== Top Categories  ==== */
  .box-inner-categories {
    margin-bottom: 1.8rem;
    display: block;
  }
  .Categories-card-inner .title h5 {
    font-size: 20px;
    text-align: center;
  }
  .image-box {
    margin: auto;
  }

  .title-top h2 {
    font-size: 34px;
  }
  /* ===== Category  ==== */
  .categories-content {
    display: block;
  }
  .categories-content .Categories-main-title {
    display: none;
  }
  .categories-list {
    padding-left: 1rem;
    padding-right: 1rem;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 95%;
    margin: auto;
    flex: inherit;
  }

  .categories-list::-webkit-scrollbar {
    width: 0%;
  }
  .categories-list::-webkit-scrollbar:horizontal {
    height: 0px;
  }
  .categories-list::-webkit-scrollbar-track {
    background-color: transparentize(#ccc, 0.7);
  }
  .categories-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: transparentize(#ccc, 0.5);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }

  .categories-list ul {
    gap: 12px;
    justify-content: inherit;
  }
  .categories-list ul li {
    text-align: center;
  }
  .categories-list ul li a {
    font-size: 18px;
    display: block;
    width: max-content;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
  }
  /* =====Category ====   */

  .navbar-brand {
    text-align: center;
  }

  .navbar-brand img {
    max-width: 70%;
  }

  /* <!-- ====== Collection  ==== --> */
  .collection-inner {
    padding-bottom: 1.5rem;
  }
  .collection-right-box .collection-box img {
    height: 117px;
    min-height: 115px;
  }

  .collection-title h4 {
    font-size: 26px;
  }

  .product-discription .title {
    font-size: 20px;
    font-weight: 700;
    margin-bottom: 5px;
  }
  .short-disription {
    font-size: 17px;
    font-weight: 500;
    margin-bottom: 5px;
  }

  .current-price {
    color: #9600c1;
    font-weight: 600;
    font-size: 22px;
  }

  .old-price p {
    color: rgba(0, 0, 0, 0.3);
    text-decoration: line-through;
    font-size: 20px;
    font-weight: 500;
  }

  .out_collection-title h4 {
    font-size: 25px;
    color: #fff;
  }

  .banner-by-title h4 {
    font-size: 24px;
  }
  .rattings li img {
    width: 25px;
  }
  .shop_title h4 {
    font-size: 25px;
  }

  /* =====Shop by ==== */

  .shop_brandrow {
    grid-template-columns: 1fr 1fr 1fr;
  }

  .shop_box-content img {
    width: 100%;
  }

  .shop_title h4 {
    font-size: 25px;
  }

  .banner-by-title a {
    font-size: 22px;
  }

  .product_card {
    margin-bottom: 1.3rem;
    padding-left: 0px;
    padding-right: 0px;
  }
  .product_image img {
    height: 440px;
  }

  .sale-branner {
    margin-bottom: 13px;
  }

  /* ==== Footer ===== */
  .footer_container {
    padding-top: 60px;
    padding-bottom: 40px;
    padding-left: 15px;
  }
  .navigation-menu {
    padding-left: 0;
    padding-top: 2rem;
  }
  .navigation-menu ul li a {
    font-size: 23px;
    font-weight: 600;
  }

  .offcanvas-body .search-input {
    width: 100%;
  }

  .offcanvas-body .categories-list li {
    margin-bottom: 15px;
  }

  .offcanvas-body .categories-content {
    padding-left: 1.5rem;
    margin-top: 1rem;
  }
  .search-response {
    display: block;
  }
  .search-response {
    padding: 0 15px;
  }
  .search-response .search-input {
    width: 100%;
  }
  .lust-banner-end .row {
    --bs-gutter-x: 35px;
  }

  .banner-area-full a img {
    border-radius: 9px;
  }
  .image-box {
    height: 165px;
    border-radius: 50%;
    width: 165px;
    background-color: #f0f0ee;
    overflow: hidden;
  }
  .Categories-card-inner .title h5 {
    font-size: 19px;
    text-align: center;
  }

  .Mobile_nav {
    display: block;
  }

  /* ======== Heor Banner */

  .owl-carousel .owl-item img {
    height: 350px;
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
  }
}

@media screen and (min-width: 100px) and (max-width: 767px) {
  .container-cum {
    max-width: 100%;
    margin: auto;
    padding-left: 15px;
    padding-right: 15px;
  }

  /* .hero_area {
    margin-top: 0 !important;
  }


/* Slider  */
  .hero_area {
    margin-top: 10px !important;
    margin-bottom: 10px !important;
  }
  .hero_slider img {
    border-radius: 10px;
  }

  .owl-carousel .owl-item img {
    height: 250px;
    object-fit: cover;
    width: 100%;
    border-radius: 10px;
  }

  .hero_area .row {
    --bs-gutter-x: 0px !important;
  }

  /* .owl-stage-outer {
    padding: 0 !important;
  } */

  .banner-hero-content .right-content {
    padding: 4px !important;
  }
  .banner-hero-content img {
    border-radius: 10px;
  }
  .banner-hero-content .right-content img {
    height: 200px;
  }
  .sm-mob-navbar {
    display: flex !important;
  }

  .navbar-brand {
    max-width: 45%;
    margin-right: 0;
  }

  .sm-mob-navbar {
    gap: 14px !important;
  }

  .sm-mob-navbar .beyond-system {
    gap: 5px !important;
  }

  .offcanvas-button {
    display: block;
  }

  .header-top-title h2 {
    font-size: 17px;
  }

  .categories-content {
    display: none;
  }
  /* Our Top Categories */

  .categories-content {
    display: block;
  }

  .categories-content {
    display: block;
  }
  .categories-content .Categories-main-title {
    display: none;
  }
  .categories-list {
    padding-left: 1rem;
    padding-right: 1rem;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 95%;
    margin: auto;
    flex: inherit;
  }

  .categories-list::-webkit-scrollbar {
    width: 0%;
  }
  .categories-list::-webkit-scrollbar:horizontal {
    height: 0px;
  }
  .categories-list::-webkit-scrollbar-track {
    background-color: transparentize(#ccc, 0.7);
  }
  .categories-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: transparentize(#ccc, 0.5);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }

  .categories-list ul {
    gap: 10px;
    justify-content: inherit;
  }
  .categories-list ul li {
    text-align: center;
  }
  .categories-list ul li a {
    font-size: 13px;
    display: block;
    width: max-content;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
  }

  .title-top h2 {
    font-size: 20px;
  }
  .title-top a {
    font-size: 16px;
  }

  .box-inner-categories {
    margin-bottom: 1rem;
    display: block;
  }
  .box-inner-categories .image-box {
    width: 140px;
    height: 140px;
    margin: 0.5rem auto;
  }

  .Categories-card-inner .title h5 {
    text-align: center;
    font-size: 18px;
  }
  .Categories-card-inner .title {
    padding-top: 5px !important;
  }

  /* ====  Product Card ==== */
  .product_card {
    margin-bottom: 1.3rem;
    padding-left: 4px;
    padding-right: 4px;
  }
  .product_image img {
    height: 240px;
  }

  .product_card .current-price p {
    font-size: 22px;
  }

  .product_card .old-price p {
    font-size: 20px;
  }

  .rattings li img {
    width: 15px;
  }

  .rattings-start .point {
    font-size: 18px;
  }

  .product_card .short-disription {
    font-size: 18px;
  }

  /* ====== collection  ====== */
  .collection-right-box {
    margin-bottom: 0px;
  }
  .collection-right-box .collection-box img {
    height: 160px;
  }
  .collection-title h4 {
    font-size: 20px;
  }

  .our_collectionbox {
    height: 140px;
    min-height: 120px;
  }

  .out_collection-title h4 {
    font-size: 18px;
  }

  .collection-box {
    padding: 5px;
  }
  /* ===== Shop By */
  .shop_by {
    padding-bottom: 20px;
  }
  .shop_brandrow {
    grid-template-columns: 1fr 1fr 1fr;
    gap: 7px;
  }
  .shop_brand_title h4 {
    font-size: 16px;
  }
  .shop_box-content {
    margin-top: 10px;
  }
  .shop_box-content img {
    width: 100%;
  }
  .shop_title h4 {
    font-size: 22px;
  }

  .bannner_box {
    margin-top: 10px;
  }
  .banner-by-title h4 {
    font-size: 22px;
  }
  .banner-by-title a {
    font-size: 20px;
  }

  .shop_by .shop_box-content {
    margin-bottom: 5px;
  }

  .sale-branner {
    margin-bottom: 13px;
  }

  /* ===== footer  */
  .footer_container {
    border-top-left-radius: 40px;
    border-top-right-radius: 40px;
    padding-left: 15px;
    padding-right: 15px;
  }
  .brand-logos img {
    width: 70%;
  }
  .navigation-menu {
    padding-left: 0rem;
    padding-top: 1rem;
  }
  .navigation-menu ul li a {
    font-size: 18px;
    font-weight: 600;
  }
  .contact-information .information h3 {
    font-size: 20px;
  }
  .contact-information .information a {
    font-size: 18px;
  }
  .usefulllinks ul li a {
    font-size: 11px;
  }
  .trams p {
    font-size: 14px;
  }

  .offcanvas-body .search-input {
    width: 100%;
  }

  .offcanvas-body .categories-list li {
    margin-bottom: 15px;
  }

  .offcanvas-body .categories-content {
    padding-left: 1.5rem;
    margin-top: 1rem;
  }

  .sm-mob-navbar {
    display: none !important;
  }
  /* ======= response  header    */
  .Selected-respons {
    display: block;
    padding-left: 0.3rem;
  }
  .Notification-inner {
    display: block;
  }

  .navbar-brand {
    text-align: center;
  }
  .navbar-brand img {
    max-width: 70%;
  }

  .Notification-inner {
    padding-right: 0.3rem;
  }
  .Notification-inner > div {
    gap: 7px !important;
  }

  .bel-icon img,
  .wishlistlist img {
    width: 25px;
  }

  .banner-area-full a img {
    border-radius: 9px;
  }

  .lust-banner-end .row {
    --bs-gutter-x: 8px;
  }
  .banner-by-title h4 {
    font-size: 12px;
  }
  .banner-by-title a {
    font-size: 15px;
  }

  .bg-overlay-left::before {
    height: 30px;
  }
  .bg-overlay-right::before {
    height: 60px;
  }
  .search-response {
    display: block;
  }
  .search-response {
    padding: 0 15px;
  }
  .search-response .search-input {
    width: 100%;
  }
  .Mobile_nav {
    display: block;
  }

  .rattings-start {
    display: none;
  }
  .product-discription {
    padding: 13px 8px 25px 15px;
  }
}

@media screen and (min-width: 100px) and (max-width: 640px) {
  .navbar-brand {
    max-width: 42%;
    margin-right: 0;
  }
  .navbar-brand img {
    max-width: 100%;
  }
  .title-top h2 {
    font-size: 24px;
  }
  .title-top h2 {
    font-size: 20px;
  }

  .sm-mob-navbar .user a img {
    width: 30px;
  }

  .sm-mob-navbar .shop-cart a img {
    width: 30px;
  }
  .sm-mob-navbar .beyond-system a {
    height: 30px;
  }

  .sm-mob-navbar .beyond-system {
    margin-left: 0 !important;
  }

  .offcanvas-button img {
    width: 30px;
  }
  .owl-nav button {
    width: 30px;
    height: 30px;
    margin-left: 15px !important;
    margin-right: 15px !important;
  }
  .owl-nav button span {
    font-size: 15px !important;
  }

  .sm-mob-navbar {
    display: none !important;
  }
  /* ======= response  header    */
  .header-container .navbar {
    padding-top: 2.2rem;
  }
  .navbar-brand {
    text-align: center;
  }
  .navbar-brand img {
    max-width: 80%;
  }

  .Selected-respons {
    display: block;
    padding-left: 0.3rem;
  }
  .Notification-inner {
    display: block;
  }

  .Selected-respons .select {
    gap: 5px;
    padding: 7px 10px;
  }

  .Selected-respons .select-menu {
    width: 70px;
  }

  .Selected-respons .select span {
    font-size: 14px;
  }

  .Selected-respons .options-list img {
    width: 20px;
  }
  .Selected-respons .options-list span {
    font-size: 14px;
  }

  .shop_title h4 {
    font-size: 17px;
  }
  /* === Category === */

  .categories-content {
    display: block;
  }

  .categories-content {
    display: block;
  }
  .categories-content .Categories-main-title {
    display: none;
  }
  .categories-list {
    padding-left: 0rem;
    padding-right: 0rem;
    padding-bottom: 0px;
    overflow-x: scroll;
    overflow-y: hidden;
    width: 95%;
    margin: auto;
    flex: inherit;
  }

  .categories-list::-webkit-scrollbar {
    width: 0%;
  }
  .categories-list::-webkit-scrollbar:horizontal {
    height: 0px;
  }
  .categories-list::-webkit-scrollbar-track {
    background-color: transparentize(#ccc, 0.7);
  }
  .categories-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    background: transparentize(#ccc, 0.5);
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.5);
  }

  .categories-list ul {
    gap: 10px;
    justify-content: inherit;
  }
  .categories-list ul li {
    text-align: center;
  }
  .categories-list ul li a {
    font-size: 14px;
    display: block;
    width: max-content;
    padding-left: 5px;
    padding-right: 5px;
    text-align: center;
  }
  .categories-list ul li a.active {
    color: #000;
    font-weight: 600;
    padding-bottom: 2px;
    border-bottom: 1px solid #000;
    padding-left: 0px;
  }

  /* ======  all Banner  = */

  .banner-area-full a img {
    border-radius: 9px;
  }

  .lust-banner-end .row {
    --bs-gutter-x: 8px;
  }
  .banner-by-title h4 {
    font-size: 12px;
  }
  .banner-by-title a {
    font-size: 15px;
  }

  .bg-overlay-left::before {
    height: 30px;
  }
  .bg-overlay-right::before {
    height: 60px;
  }

  /* ==== Product Card  ===== */
  .product-discription .title {
    font-size: 16px;
  }
  .product_card .short-disription {
    font-size: 13px;
  }

  .rattings-start .point {
    font-size: 14px;
  }
  .rattings li img {
    width: 13px;
  }
  .product_card .old-price p {
    font-size: 11px;
  }

  .product-discription {
    padding: 13px 8px 25px 15px;
  }

  .product_card .current-price p {
    font-size: 12px;
  }

  .product-wishlist a img {
    width: 16px;
  }

  .product-wishlist a {
    display: block;
    background-color: #fff;
    padding: 5px 5px;
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 50%;
  }

  .product-offer a span {
    font-size: 13px;
  }
  .product-offer a img {
    width: 20px;
  }

  .Trending_Styles .row {
    --bs-gutter-x: 4px;
  }

  .Featured_Products {
    padding-bottom: 0 !important;
  }
  .Featured_Products .row {
    --bs-gutter-x: 4px;
  }

  /* ============== Out Top Category */

  .Categoires-top .row {
    --bs-gutter-x: 3px;
  }
  .box-inner-categories .image-box {
    width: 65px;
    height: 65px;
  }
  .Categories-card-inner .title h5 {
    text-align: center;
    font-size: 11px;
  }

  .banner-hero-area .row {
    --bs-gutter-x: 0px !important;
  }

  /* === Response Search === */

  .search-response {
    display: block;
  }
  .search-response {
    padding: 0 15px;
  }
  .search-response .search-input {
    width: 100%;
  }
  .Mobile_nav {
    display: block;
  }
}

@media (max-width: 991px) {
  .navigation-menu {
    display: block;
  }
}
