/* ---------------- Google fonts ------------------ */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
/* ---------------- Basic css ------------------ */

:root {
  scroll-behavior: unset;
  font-family: 'Inter', sans-serif;

  --primary-color: #9600c1;
  --text-color: #000000;
}

html,
body,
div,
span,
h1,
h2,
h3,
h4,
h5,
h6,
p,
a,
strong,
i,
ol,
ul,
li,
form,
label,
footer,
header,
menu,
nav,
section {
  margin: 0;
  padding: 0;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
  transition: 200ms;
}

button:focus,
a:focus,
input:focus,
textarea:focus {
  outline: none;
}

/* body */
body {
  font-family: 'Inter', sans-serif !important;
  font-weight: 400;
  line-height: 1.3;
  background-color: #fff;
}

/* -------------- preloader --------------- */

#preloader {
  position: fixed;
  background: #fff;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 99999;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loader3 {
  width: 5rem;
  height: 5rem;
  display: inline-block;
  padding: 0;
  text-align: left;
}

.loader3 span {
  position: absolute;
  display: inline-block;
  width: 5rem;
  height: 5rem;
  border-radius: 100%;
  background: #f33737;
  animation: loader3 1.5s linear infinite;
}

.loader3 span:last-child {
  animation-delay: -0.9s;
  -webkit-animation-delay: -0.9s;
}

@keyframes loader3 {
  0% {
    transform: scale(0, 0);
    opacity: 0.8;
  }
  100% {
    transform: scale(1, 1);
    opacity: 0;
  }
}

/* -------------- Back to top ------------ */

.back-to-top {
  width: 4.5rem;
  height: 4.5rem;
  line-height: 4.5rem;
  text-align: center;
  display: none;
  position: fixed;
  bottom: 3rem;
  right: 2rem;
  border-radius: 50%;
  background: #f2da55;
  z-index: 1000;
}

.back-to-top img {
  width: 2.5rem;
}

/* ---------------- Header area ------------------ */

.hero_slider img {
  max-width: 100%;
  width: 100%;
}

.owl-nav {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
  display: flex;
  justify-content: space-between;
}

.owl-nav button {
  width: 40px;
  height: 40px;
  border: 2px solid #fff !important;
  border-radius: 50% !important;
  margin-left: 40px !important;
  margin-right: 40px !important;
}
.owl-nav button span {
  font-size: 26px !important;
}

.site_header {
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1024;
  width: 100%;
  padding: 2rem 0;
}

/*sticky*/
.site_header.sticky {
  animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
  box-shadow: 0 0.8rem 2rem 0 rgba(0, 0, 0, 0.1);
}

/* menu */
.menu {
  display: flex;
  align-items: center;
}

.menu li:not(:last-child) {
  margin-right: 5rem;
}

.menu li a {
  color: #000000;
}

/*Hamburger menu*/
.hamburger-menu {
  cursor: pointer;
  position: relative;
  display: none;
  z-index: 999;
}

.hamburger-menu span {
  background: #847631;
  width: 3rem;
  height: 0.3rem;
  display: block;
  margin: 0.5rem 0;
  transition: all 0.3s ease;
}

.hamburger-menu:hover .line-top {
  transform: translateY(-100%);
}

.hamburger-menu:hover .line-bottom {
  transform: translateY(100%);
}

.hamburger-menu .line-top.current {
  transform: translateY(200%) rotate(135deg);
}

.hamburger-menu .line-center.current {
  opacity: 0;
}

.hamburger-menu .line-bottom.current {
  transform: translateY(-325%) rotate(-135deg);
}

/*ofcanvas menu*/
.ofcavas-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff;
  z-index: -1;
  top: 0;
  display: none;
  left: -100%;
  transition: 0.3s;
}

.ofcavas-menu.current {
  left: 0;
}

.ofcavas-menu li {
  padding: 0.8rem 0;
}

.ofcavas-menu a {
  color: #5f490c;
}
/* =========  Header Stlye in CSS ======== */
.search-input {
  border: 1px solid #e6e6e6;
  border-radius: 15px;
  width: 310px;
  padding: 8px 11px;
  height: 60px;
}
.search-input input {
  outline: none;
  border: none;
  font-weight: 300;
}

.search-input img {
  width: 25px;
}

.beyond-system a {
  display: inline-block;
  height: 40px;
}

.beyond-system a span {
  font-size: 18px;
  color: var(--text-color);
}

.beyond-system .dropdown {
  background-color: #f4f4f4;
  border-radius: 20px;
  border-color: #f4f4f4;
}
.beyond-system .dropdown {
  border-color: #f4f4f4;
}
.beyond-system .dropdown a img {
  width: 20px;
}
.beyond-system .dropdown a:hover {
  border-color: #f4f4f4;
}
.drop_element {
  transition: 1s ease-in;
  position: relative;
}
.subdrop-down {
  display: none !important;
  border-radius: 20px;
  top: 20px;
  background-color: #f4f4f4;

  border-color: #f4f4f4;
}
.active-dropdown .subdrop-down {
  display: block !important;
}
.categories-list {
  flex: 1;
}
.categories-list ul {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  justify-content: space-between;
}

.categories-list ul li a {
  font-size: 22px;
  font-weight: 400;
  color: var(--text-color);
}

.categories-inner {
  background: #fafafa;
}

.categories-content .Categories-main-title {
  color: var(--primary-color);
  font-size: 22px;
  font-weight: 600;
  display: block;
}
.categories-list ul li a:hover {
  color: var(--primary-color);
}

.header-top-title {
  background-color: var(--primary-color);
}
.header-top-title h2 {
  font-size: 32px;
}

.offcanvas-button {
  display: none;
}

.offcanvas-button img {
  width: 35px;
}
/* =========  Header Stlye in CSS  End ======== */

/* ====== Banner hero Area ==== */

.banner-hero-content img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

/* ======= Catagories  ====== */

.title-top h2 {
  font-weight: 600;
  color: var(--text-color);
  font-size: 40px;
  text-transform: capitalize;
}

.title-top a {
  color: #9600c1;
  font-size: 24px;
  font-weight: 500;
}
.title-top a:hover {
  color: #390049;
}

.Categories-card-inner .title h5 {
  color: var(--text-color);
  font-weight: 600;
  font-size: 28px;
}

.image-box {
  height: 200px;
  border-radius: 50%;
  width: 200px;
  background-color: #f0f0ee;
  overflow: hidden;
}

.image-box img {
  width: 100%;
  height: 100%;
}

/* ===== Collection ==== */

.collection-box img {
  max-width: 100%;
  width: 100%;
  height: 100%;
}

.collection-box {
  position: relative;
}

.collection-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.collection-title h4 {
  font-size: 48px;
  font-weight: 700;
}
.collection-right-box {
  margin-bottom: 26px;
  display: block;
}
.collection-right-box .collection-box img {
  height: 270px;
  object-fit: cover;
}

/* =====  Shop Brand ===== */

.shop_brandrow {
  display: grid;
  gap: 15px;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
.shop_brand_box {
  position: relative;
}
.shop_brand_box::before {
  content: '';
  background: linear-gradient(1deg, rgb(0 0 0 / 87%) 6%, rgb(0 0 0 / 0%) 32%);
  width: 100%;
  height: 100%;
  position: absolute;
}
.shop_brand_box img {
  width: 100%;
  object-fit: cover;
}
.shop_brand_title {
  position: absolute;
  bottom: 10%;
  z-index: 1;
  width: 100%;
  text-align: center;
}

.shop_brand_title h4 {
  color: #fff;
}

.sale-branner img {
  width: 100%;
  object-fit: fill;
}
.banner-area-full a {
  width: 100%;
  display: block;
}
.banner-area-full a img {
  width: 100%;
}

/* ====== Our Collection === */
.our_collection {
  padding-top: 50px;
  padding-bottom: 50px;
}
.our_collectionbox {
  position: relative;
  height: 270px;
  margin-bottom: 14px;
}

.our_collectionbox img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.out_collection-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.out_collection-title h4 {
  font-size: 48px;
  color: #fff;
}

/* =====  Product Card  =====  */

.product-content {
  position: relative;
}

.product-wishlist {
  position: absolute;
  top: 2%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.product-wishlist a {
  display: block;
  background-color: #fff;
  padding: 10px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 50%;
}
.product-wishlist a img {
  width: 30px;
}
.product-wishlist a.active {
  background-color: var(--primary-color);
}

.product-discription {
  border: 1px solid #f2f2f2cb;
}

.product-offer {
  position: absolute;
  bottom: 4%;
  right: 5%;
}
.product-offer a {
  background-color: var(--primary-color);
  display: block;
  color: #fff;
  padding: 3px 10px;
  border-radius: 25px;
}
.product_image {
  background: #e7e7e7;
}
.product_image img {
  width: 100%;
  height: 610px;
  max-width: 100%;
  margin: auto;
  display: block;
  object-fit: cover;
}

.product-offer a span {
  font-size: 18px;
}

.product-discription {
  padding: 12px 15px 25px 15px;
}

.product-discription .title {
  font-size: 25px;
  font-weight: 700;
  margin-bottom: 5px;
}

.short-disription {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 5px;
}

.rattings-start {
  display: flex;
  align-items: center;
  gap: 15px;
}

.rattings-start .point {
  font-size: 24px;
  color: #ffb800;
  font-weight: 600;
}

.rattings {
  display: flex;
  gap: 4px;
}
.rattings li img {
  width: 30px;
}

.product-price {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 10px;
}

.current-price {
  color: #9600c1;
  font-weight: 600;
  font-size: 32px;
}

.old-price p {
  color: rgba(0, 0, 0, 0.3);
  text-decoration: line-through;
  font-size: 24px;
  font-weight: 500;
}

/* ===== Shop  by ====  */
.shop_by {
  padding-top: 50px;
  padding-bottom: 50px;
}
.shop_box-content {
  position: relative;
}

.shop_box-content img {
  width: 100%;
}

.shop_title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.shop_title h4 {
  color: #fff;
  font-size: 48px;
}

.bannner_box {
  position: relative;
}
.bannner_box::before {
  content: '';
  position: absolute;
  background-color: #00000033;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.bannner_box img {
  width: 100%;
}
.banner-by-title {
  position: absolute;
  bottom: 10%;
  z-index: 9;
  text-align: center;
  width: 100%;
}
.banner-by-title h4 {
  color: #fff;
  font-size: 48px;
  text-align: center;
}
.banner-by-title a {
  color: #fff;
  font-size: 32px;
}

/* ===== Footer ===== */
footer {
  margin-top: 4rem;
}
.footer_container {
  border: 1px solid #ddd;
  border-top-left-radius: 55px;
  border-top-right-radius: 55px;
  background: #fff;
  box-shadow: 0px 2px 15px 0px #d3d3d3;
  padding-top: 30px;
  padding-bottom: 40px;
}
.brand-logos {
  padding-bottom: 1.1rem;
}
.contact-information .information {
  margin-top: 1rem;
  margin-bottom: 1rem;
}
.contact-information .information h3 {
  font-size: 22px;
  font-weight: 600;
  color: var(--text-color);
}
.contact-information .information a {
  color: #000000;
  padding: 10px 0;
  display: block;
  font-weight: 400;
  font-size: 24px;
}
.usefulllinks ul {
  display: flex;
  align-items: center;
  margin-bottom: 0;
  gap: 20px;
}
.usefulllinks ul li a {
  color: var(--text-color);
  font-weight: 400;
  font-size: 22px;
}

.navigation-menu {
  display: flex;
  justify-content: end;
  padding-left: 17rem;
}
.navigation-menu ul li a {
  font-size: 55px;
  font-weight: 400;
  color: var(--text-color);
  padding: 5px 0;
  display: inline-block;
}

.trams p {
  font-size: 21px;
  color: var(--text-color);
  font-weight: 500;
}
/* =========  Footer ======== */

/* ------ drop down */

.select-menu {
  width: 85px;
  cursor: pointer;
  position: relative;
}

.select {
  background-color: #f4f4f4;
  padding: 7px 15px;
  color: #000000;
  font-weight: 500;
  border-radius: 6px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 20px;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.options-list {
  position: absolute;
  width: 100%;
  background-color: #f4f4f4;
  border-radius: 6px;
  margin-top: 10px;
  padding: 4px 4px;
  max-height: 180px;
  overflow-y: auto;
  -webkit-transition: 0.1s linear 0.1s;
  -o-transition: 0.1s linear 0.1s;
  transition: 0.1s linear 0.1s;
  height: 0;
  left: 6px;
  opacity: 0;
  z-index: 1;
  box-shadow: 0px 0px 10px #f4f4f4;
}

.option {
  padding: 8px 0;
  font-weight: 500;
  font-size: 14px;
  -webkit-transition: 0.1s ease-in-out;
  -o-transition: 0.1s ease-in-out;
  transition: 0.1s ease-in-out;
}

.option span {
  color: #000000;
  font-size: 16px;
}

.option:hover,
.option.selected {
  color: #00a8ff;
}

.options-list::-webkit-scrollbar {
  width: 4px;
  background-color: #eee;
}

.options-list.active {
  height: max-content;
  opacity: 1;
}

.unlike {
  display: block;
}
.like {
  display: none;
}

.save-wisthlist.active-button .like {
  display: block;
}

.save-wisthlist.active-button .unlike {
  display: none;
}

.bg-overlay-right,
.bg-overlay-left {
  position: relative;
}

.bg-overlay-right::before {
  content: '';
  width: 100%;
  height: 190px;
  bottom: 0;
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(56, 75, 125, 0.9) 100%
  );
}

.bg-overlay-left::before {
  content: '';
  width: 100%;
  height: 190px;
  bottom: 0;
  position: absolute;
  background: linear-gradient(
    180deg,
    rgba(0, 0, 0, 0) 0%,
    rgba(231, 196, 174, 0.9) 100%
  );
}

/*  */

.banner-hero-content .right-content img {
  height: 340px;
}

.lust-banner-end .row {
  --bs-gutter-x: 70px;
}
